/* Variabili */

:root {
  --primary-color: #f4bc8b;
  --secondary-color: #6e605e;
  --tertiary-color: #907874;
  --quaternary-color: #de814f;
  --fifth-color: #dce1e4;
  --fs-56: 3.5rem;
  --fs-30: 1.875rem;
  --fs-22: 1.375rem;
}

/* Body e section */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

body {
  height: 100vh;
  background-color: (var(--fifth-color));
  margin-top: 50px;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Generiche */

.flex-center {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

#defaultCanvas0 {
  display: none;
}

/* Header */

p {
  text-align: center;
  color: var(--secondary-color);
  font-size: var(--fs-22);
  padding-bottom: 20px;
}

/* Title */

h1,
h2 {
  font-size: var(--fs-56);
  color: var(--primary-color);
  -webkit-text-stroke: 1px var(--quaternary-color);
}

h1,
h2,
.win-message {
  line-height: 0.7;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  margin-left: 4px;
}

/* Armadio */

.scaffale {
  min-width: 300px;
}

.scaffale > .mensola:first-child {
  position: relative;
}

.box {
  max-width: 300px;
  width: 100%;
  height: 60px;
  background-color: var(--secondary-color);
}

.mensola,
.vertical {
  width: 300px;
  height: 12px;
  background-color: var(--tertiary-color);
  border: 1px solid var(--secondary-color);
}

.vertical {
  position: absolute;
  top: -70%;
  left: -2%;
  transform: rotate(90deg);
  transform-origin: left;
  z-index: 1;
}

.vertical:last-child {
  left: 101%;
}

/* Bicchieri */

.glass_ctr {
  width: 30px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.glass {
  width: 35px;
  height: 43px;
  background-color: rgb(255, 255, 255);
  position: relative;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
}

.vetro {
  width: 28px;
  height: 38px;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(150, 150, 150, 0.3),
    rgba(150, 150, 150, 0.8)
  );
}

.crack {
  width: 35px;
  height: 20px;
  background-color: var(--secondary-color);
  position: absolute;
  clip-path: polygon(20% 0%, 40% 100%, 65% 100%, 15% 100%);
  transform: rotate(90deg);
  display: none;
}

.crack:last-child {
  clip-path: polygon(20% 0%, 40% 100%, 80% 100%, 100% 150%);
  transform: rotate(275deg);
}

.glass_ctr[data-cracks="1"] .crack {
  display: block;
}

.glass_ctr[data-cracks="1"] .crack:last-child {
  display: none;
}

.glass_ctr[data-cracks="2"] .crack {
  display: block;
}

#broken_glass {
  width: 28.63px;
  height: 37.38px;
}

/* Play Now */

#playButton {
  display: inline-block;
  width: 250px;
  height: 70px;
  background-color: var(--primary-color);
  border: 3px solid var(--quaternary-color);
  border-radius: 10px;
  padding: 18px 32px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--fs-30);
  font-weight: 800;
  line-height: 1;
  margin-top: 80px;
  cursor: pointer;
  box-shadow: 0 0 20px #00000030;
  white-space: nowrap;
}

/* Win message */

#vetrina {
  position: relative;
}

.win-message {
  font-size: var(--fs-56);
  color: var(--quaternary-color);
  background-color: #f4bc8b;
  border: solid 5px var(--quaternary-color);
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px 30px;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: end;
}

.cucina {
  height: 280px;
  margin-top: 80px;
}
